#### Dataframes are datastructures that can be used for storing, representing and doing math on the data

Ref Website -- http://pandas.pydata.org/pandas-docs/dev/10min.html

In [9]:
# Importing Pandas and numpy which are required for the essential operations

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [11]:
s = pd.Series([1,3,5,np.nan,6,8])  # Just putting some random members in series
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [7]:
dates = pd.date_range('20140101',periods=6)  # Adding date and entering the periods to make it a continious one
dates

<class 'pandas.tseries.index.DatetimeIndex'>
[2014-01-01, ..., 2014-01-06]
Length: 6, Freq: D, Timezone: None

In [12]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [8]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD')) 

# This is creating random numbers inside a 
# row and column like structure

df

                   A         B         C         D
2014-01-01  1.150394 -0.614842 -1.044897 -0.226607
2014-01-02  0.140223 -0.038507  0.748992  0.887235
2014-01-03  0.205856 -0.930561  0.709248 -0.130411
2014-01-04 -1.420188 -0.407142 -0.635433 -1.208273
2014-01-05 -0.629856 -0.059419 -1.088283 -0.022686
2014-01-06  1.428119 -0.147627  0.154396 -0.111128

In [17]:
df2 = pd.DataFrame({ 'A' : 1.,
   'B' : pd.Timestamp('20130102'),
   'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   'D' : np.array([3] * 4,dtype='int32'),
   'E' : pd.Categorical(["test","train","test","train"]),
   'F' : 'foo' })
df2

# This is for compartmantilising the data into different category

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [21]:
df2.head(10) # For getting the first member-- Similarily you can get the tail as well...

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [22]:
df2.loc[[0, 1], ["C", "D"]]  # For filtering the results

   C  D
0  1  3
1  1  3