In [2]:
# Importing Pandas and numpy which are required for the essential operations

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])  # Just putting some random members in series
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [5]:
dates = pd.date_range('20140101',periods=6)  # Adding date and entering the periods to make it a continious one
dates

<class 'pandas.tseries.index.DatetimeIndex'>
[2014-01-01, ..., 2014-01-06]
Length: 6, Freq: D, Timezone: None

In [13]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD')) 

# This is creating random numbers inside a 
# row and column like structure

df

                   A         B         C         D
2013-01-01  0.576200  0.389129 -0.276865 -1.189122
2013-01-02 -0.549377  0.824043 -1.186630  0.035032
2013-01-03  0.778136 -1.134543 -0.655328  0.552814
2013-01-04  0.592558  0.032436 -1.245069 -0.189584
2013-01-05  0.926579  0.064900 -0.055129 -0.390345
2013-01-06  0.325559 -0.095481  1.343114 -0.106474

In [17]:
df2 = pd.DataFrame({ 'A' : 1.,
   'B' : pd.Timestamp('20130102'),
   'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   'D' : np.array([3] * 4,dtype='int32'),
   'E' : pd.Categorical(["test","train","test","train"]),
   'F' : 'foo' })
df2

# This is for compartmantilising the data into different category

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [21]:
df2.head(10) # For getting the first member-- Similarily you can get the tail as well...

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [22]:
df2.loc[[0, 1], ["C", "D"]]

   C  D
0  1  3
1  1  3